<div class="header">
  <a routerLink="/" class="logo"> <p>Awesome Activities</p> </a>
  <div class="header-right">
    <a
      routerLink="/activities/favorites"
      *ngIf="(isAuthenticated$ | async) && (userType$ | async) === 'tourist'"
      >Favorites</a
    >
    <a
      routerLink="/my-activities"
      *ngIf="(isAuthenticated$ | async) && (userType$ | async) === 'tourist'"
      >My Activities</a
    >
    <a routerLink="/profile" *ngIf="isAuthenticated$ | async">Profile</a>
    <a
      routerLink="/admin"
      *ngIf="(isAuthenticated$ | async) && (userType$ | async) === 'company'"
      >Admin</a
    >
    <a routerLink="/user/login" *ngIf="!(isAuthenticated$ | async)">Sign in</a>
    <a routerLink="/user/register" *ngIf="!(isAuthenticated$ | async)"
      >Join now</a
    >
    <a (click)="onLogout($event)" *ngIf="isAuthenticated$ | async">Logout</a>
  </div>
</div>
